.mat-card {
  width: 100%;
  overflow-y: auto;
  height: 75vh;
  padding-right: 0;
}

.mat-card h3 {
  margin: 0 0 10px;
}

.mat-card > .user-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mat-card > .user-entry {
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid #333;
}
