<div class="main-container">
  <div class="mat-card introduction-card">
    <mat-card-header>
      <div mat-card-avatar class="welcome-logo"></div>
      <mat-card-title>
        <h1>Welcome!</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3>
        If you have a leasing contract for a BMW, BMW Motorcycle or a MINI at BMW's leasing service JAWA,
        then this chatbot might be for you!
        If you give it some data about your contract, it will calculate the rest for you and give you a summary
        on your current state within the contract!
        Since in JAWA contracts, there is a kilometer limit, a special focus lies on mileage.
        Our bot will give you an overview over your average daily 'consumption' of kilometers and how good or bad you
        are doing with respect to the runtime of your contract.
      </h3>
    </mat-card-content>
  </div>

  <div class="mat-card username-card">
    <form class="username-input">
      <mat-form-field appearance="fill" class="username-input-field">
        <mat-label>Enter your username</mat-label>
        <input matInput #nameInput id="name" (keyup.enter)="createChatSessionFromName(nameInput.value)">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="createChatSessionFromName(nameInput.value)"
              [disabled]="loading" class="load-button">
        <mat-progress-spinner *ngIf="loading" [diameter]="24" mode="indeterminate"></mat-progress-spinner>
        <span *ngIf="!loading">Create User</span>
      </button>
    </form>
  </div>
</div>
