.main-container {
  flex-direction: column;
  align-items: center;
  height: auto;
}

.introduction-card {
  width: 50vw;
}

.username-card {
  width: auto;
}

.username-input {
  padding-top: 10px;
  width: 30vw;
  display: flex;
  max-width: 100%;
}

.username-input-field {
  flex-grow: 1;
  margin-right: 10px;
  color: var(--text-color);
}

.load-button {
  min-width: 100px;
  background-color: var(--button-bg);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.mat-progress-spinner {
  vertical-align: middle;
}
