
.main-container {
  display: flex;
}

.chat-window-container {
  flex: 1;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid var(--input-border-color); /* Use global input border color */
  border-radius: 5px;
  background-color: var(--card-background); /* Use global card background color */
  color: var(--text-color); /* Use global text color */
  overflow-y: auto;
  height: calc(85% - 60px); /* Adjust to leave space for message input */
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
}

.user-message {
  align-self: flex-end;
  text-align: right;
  background-color: var(--message-bg-user); /* Use dark mode user message background color */
  color: var(--message-text-user); /* Use dark mode user message text color */
}

.bot-message {
  align-self: flex-start;
  background-color: var(--message-bg-bot); /* Use dark mode bot message background color */
  color: var(--message-text-bot); /* Use dark mode bot message text color */
}

.message-content {
  max-width: 100%;
}

.user-message > .message-content {
  align-self: flex-end;
}

.message-content p {
  margin: 0;
}

.time-sent {
  font-size: 0.8em;
  color: var(--text-color); /* Use global text color */
}

.message-input-container {
  display: flex;
  justify-content: center;
  width: 50vw;
  margin: 10px auto;
  padding: 10px;
  background-color: var(--input-background);
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
}

.message-form {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.message-input-field {
  flex-grow: 1;
  margin-right: 10px;
  color: var(--text-color);
}

.send-button {
  min-width: 100px;
  background-color: var(--button-bg); /* Use dark mode button background color */
  color: #fff; /* Use white text color for buttons */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3; /* Adjust hover color for better contrast */
}

.app-user-container {
  width: 300px;
}
