<div class="main-container">
  <div class="chat-window-container">
    <div class="chat-container mat-elevation-z2" #chatContainer>
      <div *ngFor="let message of getMessages()" class="message" [ngClass]="{
        'user-message': !isBotMessage(message),
        'bot-message': isBotMessage(message)
      }">
        <div class="message-content">
          <p [ngStyle]="{'white-space': 'pre-line'}">
            {{ message.content }}
          </p>
          <span class="time-sent">{{message.sender}} {{ message.time_sent | date:'shortTime' }}</span>
        </div>
      </div>
    </div>

    <div class="message-input-container">
      <form class="message-form" (submit)="sendMessage()">
        <mat-form-field appearance="fill" class="message-input-field">
          <mat-label>Type your message...</mat-label>
          <input matInput [(ngModel)]="newMessageContent" name="messageContent" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="send-button">Send</button>
      </form>
    </div>
  </div>

  <div class="app-user-container">
    <app-user></app-user>
  </div>
</div>
